@font-face {
font-family: 'icons';
src:  url('../fonts/present-icons.eot?w82s12');
src:  url('../fonts/present-icons.eot?w82s12#iefix') format('embedded-opentype'),
url('../fonts/present-icons.ttf?w82s12') format('truetype'),
url('../fonts/present-icons.woff?w82s12') format('woff'),
url('../fonts/present-icons.svg?w82s12#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}
section{
  min-height: 100vh;
}
h1{
  margin-top:6vh;
}
h2{
  font-size: 3.8rem;
}
h4{
  margin-bottom: 2rem;
}
h6{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #e38736;
  margin-bottom: 1rem;
  background: transparent;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentcolor;
  background-clip: border-box;
  text-fill-color: currentcolor;
}
ul{
  list-style: none;
}
li{
  font-size: 1.6rem;
  list-style: none;
}
.filter-sepia{
  filter: sepia(70%);
}
#illinois-hero{
  background: -webkit-linear-gradient(top,#333 0,#666 100%);
  background: linear-gradient(to bottom,#333 0,#666 100%);
  background-image: url(../images/chicago-skyline.jpg);
  background-size: cover;
}
#illinois-hero .screen{

}
#illinois-hero .map-wrap{
  position: absolute;
  left:0;
  bottom:0;
  height: 0;
  padding-left: 2rem;
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
}
#illinois-hero .mark{
  font-weight: bold;
	position: absolute;
  top: 12vh;
	left: 84%;
	width: auto;
	font-size: 4rem;
	min-width: 24rem;
}
#illinois-hero i{
  font-style: normal;
}
#illinois-hero span{

}
#illinois-hero img{
  width: 20rem;
}
#illinois-hero object{
  position: relative;
  top: -68vh;
}
#origins{
  background: transparent;
}
#origins .wrap{
  max-width: 800px;
}
#origins .center{
  float:left;
}
#origins .slick-slide{
  background: #222;
  width: 100%;
  height: 100vh;
}
#origins .slick-slide[data-slick-index="0"]{
  background: -webkit-linear-gradient(top,#2c2f89 0,#7db9e8 100%);
  background: linear-gradient(to bottom,#2c2f89 0,#7db9e8 100%);
}
#origins .slick-slide[data-slick-index="1"]{
  background-image: url(../images/bernie.jpg);
  background-size: cover;
}
#origins .slick-slide[data-slick-index="3"]{
  background-image: url(../images/denver-drew.jpg);
  background-size: cover;
}
#origins figure{
  margin-bottom: 4rem;
}
#origins .table{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
}
#origins h6{
  color: #DDF;
}
#ars{
  background-image: url(../images/project-ars-hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#ars .table-wrap, #philo .table-wrap{
  background: rgba(0,0,0,.1);
}
#ars svg, #ars .icon{
  color:#D62680;
  fill:#D62680;
}
#ars svg{
  max-width: 6rem;
  margin: 1rem 1rem;
}
#ars h4, #philo h4, #origins h4{
  margin-bottom: 6rem;
}
#ars .icon, #philo .icon, #origins .icon{
  font-size: 5.8rem;
}
#ggw{
  background-image: url(../images/project-ggw-hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#philo{
  background: -webkit-linear-gradient(top, #29d183 0%,#566abf 44%,#8324bf 82%);
  background: linear-gradient(to bottom, #29d183 0%,#566abf 44%,#8324bf 82%);
  box-shadow: inset 0 0 60rem rgba(0,0,0,1);
}
#philo .screen {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);

}
#philo h6{
  color: #DFD;
}
#game{
  overflow: hidden;
}
#game h3{
  margin-top:6rem;
}
#game img{
  position: relative;
	top: 4rem;
	margin-bottom: -24rem;
	max-width: 32rem;
}
#thanks{
  background-image: url(../images/effective-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#thanks h1{
  position: relative;
  top: -7rem;
}





/* Slider */
.slick-slider
{
  display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
    height: 100vh;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    height:100vh;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
  float: left;
	height: 100%;
	min-height: 1px;
	position: relative;
	visibility: visible;
	opacity: 1;
  background: transparent;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 9999;

    display: block;

    width: 6rem;
    height: 12rem;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10rem;
    font-weight: bold;
    line-height: 1;

    opacity: .75;
    color: white;
    z-index: 99999;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.slick-prev
{
    left: 0;
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-prev:before
{
    content: "\2329";
}
[dir='rtl'] .slick-prev:before
{
    content: "\2329";
}

.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-next:before
{
    content: "\232A";
}
[dir='rtl'] .slick-next:before
{
    content: "\232A";
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0 0 4rem;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;
    float:none;
    display: inline-block;

    width:2rem;
    height:2rem;
    margin: 0 1rem;
    padding: 0;
    visibility: visible;
    opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    opacity: .8;
    cursor: pointer;
}
.slick-dots li button
{
    text-indent: -99999px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 2rem;
    height: 2rem;
    border-radius: 100%;

    text-align: center;

    opacity: .5;
    background-color: #FFF;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.slick-dots li.slick-active button
{
    opacity: 1;
    color: #FFF;
}
